app.__BASE_DOMAIN__ {
  reverse_proxy 127.0.0.1:3000
}

admin.__BASE_DOMAIN__ {
  reverse_proxy 127.0.0.1:3001
}

api.__BASE_DOMAIN__ {
  reverse_proxy 127.0.0.1:4000
}

auth.__BASE_DOMAIN__ {
  reverse_proxy 127.0.0.1:8080
}

media.__BASE_DOMAIN__ {
  reverse_proxy 127.0.0.1:9000
}
